.confirmRegisterContainer::before {
    content: " ";
    background: url(/images/login-background.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  .confirmRegisterContainer {
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  .cardRegister {
    min-width: 360px;
    max-width: 20vw;
    margin: 25vh auto 0 auto;
    box-shadow: 0 5px 15px rgba(137, 140, 141, 0.1);
  }

  .loginButton {
    color: black; 
    font-weight: 600;
    margin: 0; 
    padding: 0; 
  }

  