.confirmRegisterContainer::before {
    content: "";
    background: url(/images/login-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: "100vh";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-attachment: fixed;
    z-index: -1;
  }
  .confirmRegisterContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow-y: auto;
    padding: 20px;
  }
  .cardRegister {
    min-width: 480px;
    max-width: 20vw;
    margin: 10vh auto;
    overflow: visible;    
    box-shadow: 0 5px 15px rgba(137, 140, 141, 0.1);
    position: relative;
  }

  .loginButton {
    text-align: center;
    color: black;
    font-weight: normal;

  strong {
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: green;
    }
  }
}

  