.requestContainer {
    padding: 20px;

    .requestNumber {
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: green;
    }

    .spacing {
        margin-bottom: 40px;
    }

    .requestHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .requestLeft,
    .requestRight {
        display: flex;
        flex-direction: column;
    }

    .requestLeft {
        h3 {
            font-size: 16px;
            font-weight: bold;
            color: green;
            margin-bottom: 15px;
        }

        p {
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .requestRight {
        text-align: right;
        align-items: flex-end;

        .actions {
            display: flex;
            gap: 10px;
            visibility: visible !important;
            opacity: 1 !important;
        }

        p {
            margin: 0;
            margin-bottom: 10px;
        }

        p.status {
            font-weight: bold;
            color: inherit;
            margin: 0;
            margin-bottom: 25px;
        }

        .cancelButton {
            background-color: #f44336;
            color: #fff;
            border: none;
            padding: 5px 8px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 8px;
        }

        .editButton {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 5px 8px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 8px;
        }
    }

    .table {
        background-color: #fff;
    }

    .feedbackGrandTotal {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 24px;

        .feedbackSection {
            flex: 0 1 25%;
            max-width: 50%;
            margin-right: 16px;
            text-align: center;

            .feedbackCard {
                width: 100%;
            }

            .emptyFeedback {
                height: 1px;
                visibility: hidden;
            }
        }

        .grandTotalSection {
            flex: 0 1 20%;
            max-width: 50%;
            min-width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .totalContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                border: 1px solid #e8e8e8;
                border-radius: 4px;
                font-size: 14px;
                text-align: center;
                width: 100%;
        
                .totalLabel {
                    font-weight: 600;
                }
        
                .totalValue {
                    font-weight: "regular";
                    margin-left: 4px;
                }
            }
        }             
    }

    .pagination {
        margin-top: 24px;
        text-align: right;
    }
}

.statusApproved {
    color: green;
}

.statusRejected {
    color: red;
}

.statusInProgress {
    color: orange;
}