.requestContainer {
    padding: 20px;

    .requestNumber {
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: green;
    }

    .spacing {
        margin-bottom: 40px;
    }

    .requestHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .requestLeft,
    .requestRight {
        display: flex;
        flex-direction: column;
    }

    .requestLeft {
        h3 {
            font-size: 16px;
            font-weight: bold;
            color: green;
            margin-bottom: 15px;
        }

        p {
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .requestRight {
        text-align: right;
        align-items: flex-end;

        .actions {
            display: flex;
            gap: 10px;
            visibility: visible !important;
            opacity: 1 !important;
        }

        p {
            margin: 0;
            margin-bottom: 10px;
        }

        p.status {
            font-weight: bold;
            color: inherit;
            margin: 0;
            margin-bottom: 25px;
        }

        .cancelButton {
            background-color: #f44336;
            color: #fff;
            border: none;
            padding: 5px 8px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 8px;
        }

        .editButton {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 5px 8px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 8px;
        }
    }

    .table {
        background-color: #fff;
    }

    .pagination {
        margin-top: 20px;
        text-align: right;
    }
}

.statusApproved {
    color: green;
}

.statusRejected {
    color: red;
}

.statusInProgress {
    color: orange;
}

.feedbackCard {
    width: 30%;
    margin-top: 20px;
    margin-left: 0;
    max-height: 200px;
    overflow-y: auto;
}

